.header{
    width: 100%;
    font-size: 24px;
    margin-top: 0px;
    box-shadow: 5px 5px 5px grey;
}

.heading_div{
    background-color: white;
    border-radius: 20px;
    float: none;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    color: black;
}

.heading_div2{
    font-size: 18px;
    width: 80%;
    border-radius: 20px;
}